.App {   
      
     margin: 0 !important;
     padding: 0 !important;
 }

 .card-container{
  display: flex;
  flex-wrap: wrap;
}
 .github-profile{
    width: 32.5%;
    height: auto;
 }

 @media only screen and (max-width: 600px) {
    .github-profile{
        width: 100%;
        height: auto;
     }
  }
